#root {
  max-width: 100%;;
  margin: 0 auto;
  padding: 2rem  4.5rem 4.5rem 4.5rem;
  text-align: center;
  background-color: black;
  color: white;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}

